@import "variables";

tit-h2 {
    text-align: center;
}

.sub2 {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}



.sectionindex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* nuevas modificaciones en cards */
.card {
    @include card
}

.card-img-top {
    @include cardimgtop
}

.card1 {
    @include card1
}

#cards-hombres {
    color: map-get($map: $palette, $key: 'tercero');
}

#card-h-boton {
    background-color: map-get($map: $palette, $key: 'primario');
    color: map-get($map: $palette, $key: 'cuarto');
}

/* nuevas modificaciones en cards */

/* titulos de pag h y m */

.titulo-Mh2 {
    text-align: center;
}

.tituloh2 {
    text-align: center;
}