@mixin card {
    background-color: map-get($map: $palette, $key: 'primario');
    width: 400px;
    height: 500px;
    margin: 40px;
    border: solid 2px map-get($map: $palette, $key: 'quinto');
}

@mixin cardimgtop {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    padding: 10px;
}

@mixin card1 {
    background-color: map-get($map: $palette, $key: 'secundario');
    width: 400px;
    height: 500px;
    margin: 40px;
    border: solid 2px map-get($map: $palette, $key: 'quinto');
}

.boton {
    transition: background-color 1s ease-out;
    outline: 0;
}


$palette: (
    'primario': #FFD4D4,
    'secundario': #2B50AA,
    'tercero': #FF9FE5,
    'cuarto': #000,
    'quinto': #272727,
)
